#live {
    font-weight: bold;
    position:fixed;
    bottom: 77px;
    width: auto;
    right: 20px;
    cursor: pointer;
    z-index: 9999;
    font-size: 15px;
}

@media only screen and (max-width: 850px) {
    #live {
        font-weight: bold;
        position:fixed;
        bottom: 77px;
        width: auto;
        right: 0px;
        margin: 10px;
        cursor: pointer;
        z-index: 9999;
        font-size: 15px;
    }

    .logo {
        display: none;
    }

}
@media only screen and (min-width: 850px) {
    .logo {
        font-size: 30px;
        font-family: initial;
        font-weight: bold;
        color: white;
        vertical-align: middle;
        margin: 5px;
    }


}



.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 767px) {
    .td-button {
        vertical-align: middle;
        text-align: center;
    }

    .m-button {
        margin: 0px 3px;
    }
}


.menu-header {
    font-weight: bold;
    font-size:15px;
    color: white;
    margin-left: 10px;
}

.actives {
    color: #279EFF;
    margin-left: 10px;
    font-weight: bold;
    font-size:15px;
}

.text-span {
    font-size: 13px;
}

.button-member {
    border: solid gray 1px; font-weight:bold; color:white;
}

.button-member:hover {
    color: black;
}


